
<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: left; color: white; font-weight: bold;">AQUATRACK</ion-title>
    <div class="links-container" slot="end">
      <a href="/home" ><span class="link-text">Inicio   |</span></a>
      <a href="/perfil"><span class="link-text">Perfil   |</span></a>
      <a href="#"><span class="link-text">Consumo   |</span></a>
      <a href="#"><span class="link-text">Dispositivo  |</span></a>
      <a href="#"><span class="link-text">Consejos  |</span></a>
      <a href="#"><span class="link-text">Usuarios</span></a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <ion-grid>
    <ion-row>
      
      <ion-col size="4" class="ion-text-center">
        <ion-card class="profile-card">
          <ion-card-content>
            <div class="profile-image-container">
              <img src="/assets/imgs/michi.png" class="profile-image" />
              <ion-text color="light">
                <h2><strong>Usuario</strong></h2>
                <p><strong>Editar</strong></p>
              </ion-text>
            </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <div class="button-container">
              <ion-button (click)="goToAjustes()">
                Ajustes
              </ion-button>
              <ion-button (click)="onClick()">
                Cerrar sesión
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

        


      <ion-col size="4" class="ion-text-center">
        <ion-card class="info-card">
          <ion-card-header>
            <ion-card-title>Usuarios del sistema</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Otros habitantes de tu hogar o relacionados que también pueden ver los datos.</p>
            <ion-list>
              <ion-item>
                <ion-label>Propietario-Admin</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>----------------------</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Usuario</ion-label>
              </ion-item>
            </ion-list>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <ion-button (click)="goToAjustes()">DETALLES Y MODIFICAR</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-card class="service-data-card">
          <ion-card-header>
            <ion-card-title>Datos de servicio</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Datos sobre quienes te ofrecen agua y su precio para nuestros análisis.</p>
            <ion-list>
              <ion-item>
                <ion-label><strong>Proveedor:</strong></ion-label>
                <ion-label slot="end">Proveedor1</ion-label>
              </ion-item>

              <ion-item>
                <ion-label><strong>Cobro:</strong></ion-label>
                <ion-label slot="end">$xxx</ion-label>
              </ion-item>

              <ion-item>
                <ion-label><strong>Tipo de hogar:</strong></ion-label>
                <ion-label slot="end">Casa</ion-label>
              </ion-item>

              <ion-item>
                <ion-label><strong>Límite:</strong></ion-label>
                <ion-label slot="end">150L</ion-label>
              </ion-item>

            </ion-list>
            <br><br><br><br><br><br><br><br><br><br>
            <ion-button (click)="goToAjustes()">Editar</ion-button>
          </ion-card-content>
        </ion-card>
